 .footer{
    color:black;
    width: 80%;
    margin: auto;
    background-color: var(--tertiary-color);
    transform: perspective(8px) rotateX(2deg);

    display: flex;
    flex-direction: column;
    align-items: center;

    .links, .copyright{
        transform: perspective(8px) rotateX(-2deg);
        
        a{
            color: black;
        }
    }
}