.header {

    background-color: var(--primary-color);
    height: 80px;
    width: 100%;
    border-bottom: var(--tertiary-color) 4px solid;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 100000;

    .logo {
        font-weight: 700;
        font-size: 50px;
        -webkit-text-stroke: var(--secondary-color) 8px;
        paint-order: stroke fill; 
    }

    .links {
        font-size: 20px;
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }   
        li {
            padding: 10px;
        }
    }

    .logo, #profile, .link {
        color: var(--tertiary-color);
        text-decoration: none;
    }

    .link:hover{
        color : var(--secondary-color);
    }

    #search{
        position: relative;

        .bar {
            background-color: var(--primary-color);
            color: white;
            border: var(--secondary-color) 4px solid;
            font-size: medium;
            font-weight: bold;
            padding: 2px 8px;
        }

        .search-items {
            list-style-type: none;
            background-color: var(--primary-color);
            border: 2px var(--tertiary-color) solid;
            width: 100%;
            max-height: 300px;
            overflow: hidden;
            overflow-y: scroll; 
            scrollbar-width: thin;
            position: absolute;
            top: 100%;

            .search-item{
                color: var(--tertiary-color);
                border: 1px var(--tertiary-color) solid;
                padding: 10px;
            }

            .search-item:hover{
                color: var(--primary-color);
                background-color: var(--tertiary-color);
            }
        }
    }

    #profile {
        font-size: 40px;
        background-color: var(--secondary-color);
        width: 50px;
        height: 50px;
        border: 1px var(--secondary-color) solid;

        display: flex;
        justify-content: center;
        position: relative;

        .profile-drop-down {
            background-color: var(--primary-color);
            font-size: 20px;
            width: 200%;
            padding: 10px;
            position: absolute;
            margin-top: 10px;
            top: 100%;
            border: 2px var(--tertiary-color) solid;
        }

        .profile-drop-down:hover {
            color: var(--primary-color);
            background-color: var(--tertiary-color);
        }
    }

    .profile:hover{
        border-color: var(--tertiary-color);
    }
}