  .slider-panel{
        width: 95%;
        color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .slider-items{
            margin: 0px 20px;
            padding-bottom: 10px;;
            display: flex;
            gap: 20px;
            overflow: auto;
            scrollbar-width: thin;

            .slider-item {
                flex: 0 0 fit-content;
                border-top: 2px var(--tertiary-color) solid;
                padding-top: 10px;
                width: fit-content;
                
                .cover-art{
                    width: 200px;
                    height: 300px;
                    border: 2px solid black;
                }

                .name-language-row {
                    display: flex;
                    justify-content: space-between;
                    width: 200px;

                    .comic-name{
                        font-size: 1em;
                        width: 170px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }

            .slider-item:hover{
                color: white;
                cursor: pointer;
                border-top: 2px white solid;

                .cover-art{
                    opacity: 0.9;
                    border: 2px solid white;
                    box-shadow: 0px 0px 10px var(--tertiary-color);
                }
            }
        }

    }