  .slider-panel{
        width: 95%;
        color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .slider-main{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            
            .slider-button{
                flex: 0 0 20px;
                height: 300px;
                background-color: var(--primary-color);
                stroke-width: 5px;
                border: 2px solid black;
            }

            .slider-button:hover{
                color:var(--primary-color);
                background-color: var(--tertiary-color);
                box-shadow: 0px 0px 10px var(--primary-color);
            }

            .slider-items{
                padding-bottom: 10px;;
                display: flex;
                gap: 20px;
                overflow: hidden;
                
                .slider-item {
                    flex: 0 0 fit-content;
                    border-top: 3px var(--tertiary-color) solid;
                    padding-top: 10px;
                    width: fit-content;
                    transition: transform 200ms ease-in-out;
                    
                    .cover-art{
                        width: 200px;
                        height: 300px;
                        border: 2px solid black;
                    }

                    .name-language-row {
                        display: flex;
                        justify-content: space-between;
                        width: 200px;

                        .comic-name{
                            font-size: 1em;
                            width: 170px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }

                .slider-item:hover{
                    color: white;
                    cursor: pointer;
                    border-top-color: white;

                    .cover-art{
                        opacity: 0.9;
                        border: 2px solid white;
                        box-shadow: 0px 0px 10px var(--tertiary-color);
                    }
                }
            }
        }
    }