  .slider-panel{
        width: 95%;
        color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .slider-items{
            margin: 0px 20px;
            padding-bottom: 10px;;
            display: flex;
            gap: 20px;
            overflow: auto;

            .slider-item {
                flex: 0 0 10%;
                border-top: 2px var(--tertiary-color) solid;
                padding-top: 10px;
                
                .cover-art{
                    width: 150px;
                    border: 2px solid transparent;
                }

                .name-language-row {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .slider-item:hover{
                color: white;
                cursor: pointer;
                border-top: 2px white solid;

                .cover-art{
                    opacity: 0.9;
                    border: 2px solid white;
                    box-shadow: 0px 0px 10px var(--tertiary-color);
                }
            }
        }

    }