.auth-page {
    --header-height : 83px; /* TODO: Move header Height to some Top Level file */
    height: calc(100% - var(--header-height));

    background-image: url("/public/bg_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    .credential-panel { 
        background-color: var(--secondary-color);
        border: 2px var(--tertiary-color) solid;
        width: 40%;
        padding: 10px;
        box-shadow: black 0px 0px 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        .welcome-text {
            font-size: 3em;
            color: var(--primary-color);
            -webkit-text-stroke: var(--tertiary-color) 4px;
            paint-order: stroke fill;
        }
        
        form {
            width: 90%;
            margin-bottom: 8px;
            
            display: flex;
            flex-direction: column;
            align-items: center; 
            gap: 24px;
            
            .form-item {
                width: 100%;
                padding-right: 10px; /* For Box shadow of child input field */

                display: flex;
                flex-direction: column;
                gap: 8px;

                label {
                    font-size: x-large;
                    color: var(--tertiary-color);
                }

                .input-field {
                    color: white;
                    font-size: x-large;
                    font-family: var(--font-family);
                    font-style: normal;
                    caret-color: var(--tertiary-color);
                    background-color: var(--secondary-color);
                    border: 4px var(--tertiary-color) solid;
                    box-shadow: var(--primary-color) 10px 10px;
                    padding: 4px 8px;
                }

                .input-field:hover{
                    box-shadow: var(--primary-color) 8px 8px;
                }

                .input-field::placeholder{
                    color:var(--primary-color);
                }
            }   

            .sign-in-button {
                color: var(--secondary-color);
                background-color: var(--tertiary-color);
                border: 4px var(--tertiary-color) solid;
                border-style: outset;
                width: 60%;
                font-family: var(--font);
                font-style: normal;
                font-size: 1.3em;
            }

            .sign-in-button:hover{
                color: var(--tertiary-color);
                background-color: var(--primary-color);
                border-style: inset;
            }
        }
        
        .click-here-link{
            color: white;
        }

        .click-here-link:hover{
            color: var(--tertiary-color)
        }
    }
}