.browse-page {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;

    .filter-panel {
        color: white;
        width: 200px;
        height: fit-content;
        font-size: large;
        padding: 10px 10px 500px 10px;
        border-top: 10px solid var(--primary-color);
        box-shadow: inset -10px 10px 100px black;
        display: flex;
        flex-direction: column;
        align-items: end;
        
        .filter-title {
            color: var(--tertiary-color)
        }
        
        .filter-list-item { 
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 5px;

            .filter-checkbox {
                width: 8px;
                height: 6px;
                border: 3px solid var(--tertiary-color);
            }

            .filter-checkbox-selected, .filter-checkbox:active {
                cursor: pointer;
                background-color: var(--tertiary-color);
                border-color: var(--primary-color);
            }
        }

        .filter-list-item:hover{
            color: var(--tertiary-color);
            text-decoration: underline;
            cursor: pointer;

            .filter-checkbox{
                background-color: white;
            }
        }

        .filter-list-item:active{
            color: white;
        }

        .filter-year{
            accent-color: var(--tertiary-color);
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }

    .search-panel{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        
        .advanced-search-bar{
            width: 80%;            
            background-color: transparent;
            border: 2px solid var(--tertiary-color);
            padding: 2px;
            display: flex;
            justify-content: center;

            .search-bar{
                width: 90%;
                font-family: var(--font-family);
                font-size: larger;
                background-color: var(--tertiary-color);
                border: 2px solid black;
                padding: 4px 10px;
            }
            
            .search-bar:hover{
                opacity: 0.9;
            }

            .search-button{
                width: 10%;
                color: var(--tertiary-color);
                font-size: larger;
                font-family: var(--font-family-2);
                border-radius: 0px;
                border: 2px solid black;
                background-color: var(--primary-color);
            }

            .search-button:hover{
                opacity: 0.8;
                cursor: pointer;
            }
        }

        .search-result-container{
            width: 80%;
            display: flex;
            flex-wrap: wrap;

            .search-item{
                width: calc(50% - 20px);
                margin: 10px;
                display: flex;
                align-items: stretch;
                
                .search-item-body{
                    color: var(--tertiary-color);
                    background-image: linear-gradient(var(--primary-color) 60%, black);
                    border: 1px solid var(--tertiary-color);
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    justify-content: space-between;
                    gap: 10px;

                    .info-row{
                        display: flex;
                        justify-content: center;
                        gap: 20px;

                        .cover-art{
                            height: 200px;
                            aspect-ratio: 3/4;
                            border: 4px solid var(--secondary-color);
                        }

                        .info-text{     
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            .comic-name{
                                font-family: var(--font-family-2); 
                                -webkit-text-stroke: 8px black;
                                paint-order: stroke fill;
                            }       

                            .description{
                                font-size: large;
                                line-height: 20px;
                                -webkit-line-clamp: 8;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                display: -webkit-inline-box;
                            }
                        }
                    }

                    .genre-row{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        .genre-list{
                            width: 100%; 
                            list-style-type: none;
                            flex-wrap: wrap;
                            display: flex;
                            gap:10px;

                            .genre-item{
                                border: 2px solid var(--tertiary-color);
                                padding: 2px 10px;
                                text-wrap-mode: nowrap;
                            }

                        }

                        .more-genre{ /* TODO: Add back again */
                            display: none;
                            color: white;
                            text-decoration: underline;
                        }
                    }
                    
                    .metrics-row{
                        display: flex;
                        justify-content: start;
                        gap: 20px;

                        .metric-item {
                            display: flex;
                            align-items: center;
                            gap: 4px;

                            .icon {
                                --icon-size: 20px;
                                height: var(--icon-size);
                                width: var(--icon-size);
                            }

                            .value {
                                color: white;
                            }
                        }
                    }
                }
            }

            .no-search-result{
                width: 100%;
                background-image: linear-gradient(white, var(--primary-color));
                padding: 10px; 
                border: 2px solid var(--tertiary-color);
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    background-color: var(--primary-color);
                    height: 300px;
                    aspect-ratio: 1;
                    padding: 10px;
                    box-shadow: 0px 1px 10px black;
                }

                h2{
                    color: var(--tertiary-color);
                    font-size: 2em;
                    text-align: center;
                    background-color: black;
                    padding: 10px;
                    transform: perspective(500px) rotateX(30deg);
                    text-shadow: 0 5px 1px var(--primary-color);
                    box-shadow: 0px 2px 2px grey;
                }
            }
        }
    }
}