.comic-listing-page{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px;

    .comic-details {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        min-width: 0;
        
        .cover-art{
            height: 300px;
            width: 200px;
        }

        .text-pane {
            color : var(--tertiary-color);
            
            display: flex;
            flex-direction: column;
            gap : 8px;

            .comic-name {
                margin-bottom: 8px;
                -webkit-text-stroke: var(--primary-color) 8px;
                paint-order: stroke fill; /* TODO: Use paint over globally*/
            }
            
            .staff-list {
                margin-bottom : 8px;
                width: fit-content;
                list-style-type: none;
                -webkit-text-stroke: var(--primary-color) 4px;
                paint-order: stroke fill; 

                display: flex;
                gap : 36px;
                flex-wrap: wrap;
            }

            .genre-list {
                width: fit-content;
                padding: 8px;
                /* border: var(--primary-color) 1px solid; TODO: Check if this is good  */

                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                gap : 8px;

                li {
                    background-color: var(--primary-color);
                    padding: 0px 26px;
                }
            }

            .desciption {
                /* TODO: Handle Overflow of text*/
                text-align: justify;
            }
        }
    }
    
    .chapter-list-panel {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--tertiary-color);
    
        .chapter-list {
            width: 100%;
            height: 200px;
            border: 1px var(--tertiary-color) solid;
            padding: 8px;

            overflow-y: scroll;
            overflow-x: hidden;

            display: flex;
            flex-direction: column;
            list-style-type: none;

            .chapter-item {
                width: 100%;
                border: 1px var(--tertiary-color) solid;
                
                .chapter-link{
                    display: block;
                    font-size: larger;
                    color: var(--tertiary-color);
                    padding: 2px 8px;
                }

            }
            
            .chapter-item:hover {
                background-color: var(--tertiary-color);
                
                .chapter-link{
                    color: var(--secondary-color);
                }
            }
        }
    }
}