@property --angle{
    syntax: "<angle>";
    initial-value: 10deg;
    inherits: false;
}
                    
@keyframes spin {
    from{
        --angle: 0deg;
    } 
    
    to{
        --angle: 360deg;
    }
}

.home-page {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .hot-panel{
        width: 90%;
        margin: 30px 0px;
        padding: 60px 0px;
        border: 2px solid var(--primary-color);
        box-shadow: inset 0px 10px 100px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 20px;

        .hot-panel-items {
            width: 100%;
            display: flex;

            .hot-panel-item {
                flex: 0 0 100%;
                transition: transform 600ms ease-in-out;

                --cover-art-height : 300px;
                --cover-art-width : 200px;
                --cover-art-border : 6px;
                --cover-art-lr-margin : 26px;

                .comic-name {
                    color: var(--tertiary-color);
                    -webkit-text-stroke: var(--primary-color) 8px;
                    paint-order: stroke fill; 
                    margin-left: calc(var(--cover-art-width) + calc(calc(var(--cover-art-border) + var(--cover-art-lr-margin)) * 2));
                    padding: 4px;
                }

                .info{
                    background-color: var(--tertiary-color);
                    display: flex;
                    position: relative;
                    align-items: center;

                    .cover-art {
                        flex: 0 0 var(--cover-art-width);
                        aspect-ratio: 2/3;
                        width: var(--cover-art-width);
                        margin: 0px var(--cover-art-lr-margin);
                        z-index: 100;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0px 0px 20px black;

                        img{
                            width: 100%;                         
                            height: 100%;
                            z-index: 100;
                        }

                        transition: scale 800ms ease-in-out,
                                    box-shadow 800ms ease-in-out,
                                    transform 100ms ease-in-out;
                    }

                    .cover-art::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: var(--secondary-color);
                        position: absolute;
                        padding: 8px;
                        z-index: -1;
                    }
                    
                    .cover-art:hover { /* TODO: Refactor cover */
                        scale: 1.1;
                        box-shadow: 20px 10px 50px black;
                    }
                 
                    .cover-art:hover::before{
                        background: conic-gradient(from var(--angle), var(--secondary-color), white);
                        animation:  3s spin linear infinite;
                    }
                    
                    .cover-art-spacer {
                        flex: 0 0 var(--cover-art-width);
                        border: var(--cover-art-border) transparent solid;
                        margin: 0px var(--cover-art-lr-margin);
                    }

                    .genre-description{
                        margin: 10px;

                        .genre-list {
                            font-size: large;
                            margin: 8px;

                            display: flex;
                            flex-wrap: wrap;
                            list-style-type: none;
                            gap : 8px;

                            li {
                                color: var(--tertiary-color);
                                background-color: var(--secondary-color);
                                padding: 0px 20px;
                                border: var(--primary-color) 3px solid;
                            }

                            li:hover{
                                color: var(--primary-color);
                                background-color: var(--tertiary-color);
                            }
                        }

                        .description {
                            color: var(--primary-color);
                            height: auto;
                            text-align: justify;
                            padding-right:  20px;
                            
                            overflow: hidden;
                            display: -webkit-box;   
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }

            .hot-panel-item:hover {
                cursor: pointer;
            }
        }
        
        .panel-selector {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .hot-radio{
                --size: 8px;
                --border: 1px;
                --background-color: var(--primary-color);
                --border-color: var(--tertiary-color);
                --background-color-select: var(--tertiary-color);
                --border-color-select: var(--tertiary-color);
                --hover-background-color: var(--secondary-color);

                .outer-circle {
                    background-color: var(--border-color);
                    height: calc(2 * var(--size)); 
                    width: calc(2 * var(--size));
                    clip-path: circle(var(--size));
                        
                    .inner-circle {
                        width: calc(2 * var(--size));
                        height: calc(2 * var(--size));
                        background-color: var(--background-color);
                        clip-path: circle(calc(var(--size) - var(--border)));
                    }
                }

                .outer-circle-selected {
                    background-color: var(--border-color-select);
                    
                    .inner-circle {
                        background-color: var(--background-color-select);
                    }
                }
            }

            .hot-radio:hover{
                cursor: pointer;
                .inner-circle{
                    background-color: white;
                }
            }
        }
    }
}