.home-page {
    display: flex;
    justify-content: center;

    .hot-panel{
        color: var(--tertiary-color);
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
        
        .hot-panel-items {
            display: flex;
            flex-direction: row;
            scroll-snap-type: x mandatory;   
            overflow-y: hidden;
            scrollbar-width: none;

            .hot-panel-item {
                flex: 1 0 100%;
                scroll-snap-align: start;
                scroll-snap-stop: always;
                margin: 80px;

                .comic-name {
                    -webkit-text-stroke: var(--primary-color) 8px;
                    paint-order: stroke fill; 
                    margin-left: calc(200px + 32px);
                    padding: 4px;
                }

                .info{
                    background-color: var(--tertiary-color);
                    /* margin: 60px 0; */
                    display: flex;
                    position: relative;
                    align-items: center;

                    --cover-art-height : 300px;
                    --cover-art-width : 200px;

                    .cover-art {
                        position: absolute;
                        height: var(--cover-art-height) ;
                        width: var(--cover-art-width);
                        border: 6px var(--secondary-color) solid;
                        box-shadow: 0px 0px 10px black;
                        margin: 0px 10px;
                    }

                    .cover-art-spacer {
                        /* height: calc(var(--cover-art-height) - 50px); */
                        width: var(--cover-art-width);
                        border: 6px transparent solid;
                        flex-shrink: 0;
                        margin: 0px 10px;
                    }

                    .genre-description{
                        padding: 10px;
                        .genre-list {
                            font-size: large;
                            width: fit-content;
                            padding: 8px;

                            display: flex;
                            flex-wrap: wrap;
                            list-style-type: none;
                            gap : 8px;

                            li {
                                background-color: var(--secondary-color);
                                padding: 0px 26px;
                                margin: 0px 10px;
                            }
                        }
                        .description {
                            color: var(--primary-color);
                            /* font-size: 1.7em; */
                            text-align: justify;
                        }
                    }
                }
            }
        }
        
        .panel-selector {
            display: flex;
            justify-content: center;
            margin : 10px;
            gap: 10px;

            .hot-radio{
                --size: 10px;
                --border: 1px;
                --background-color: var(--primary-color);
                --border-color: var(--tertiary-color);
                --background-color-select: var(--tertiary-color);
                --border-color-select: var(--tertiary-color);
                
                .outer-circle {
                    background-color: var(--border-color);
                    height: calc(2 * var(--size)); 
                    width: calc(2 * var(--size));
                    clip-path: circle(var(--size));
                        
                    .inner-circle {
                        width: calc(2 * var(--size));
                        height: calc(2 * var(--size));
                        background-color: var(--background-color);
                        clip-path: circle(calc(var(--size) - var(--border)));
                    }
                }

                .outer-circle-selected {
                    background-color: var(--border-color-select);

                    .inner-circle {
                        background-color: var(--background-color-select);
                    }
                }
            }
        }
    }
}