.reading-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;

    .comic-panel{
        width: 60%;
        margin: 30px 0px;
        color: var(--tertiary-color);
        
        .comic-name {
            color: var(--tertiary-color);
            font-size: 30px;
            text-decoration: none;
        }

        .comic-pages {
            margin : 10px 0px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .page img{
                max-width: 100%;
            }
        }
    }
}