body {
    background-color: var(--secondary-color);
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
}

.comic-panel{
    width: 60%;
    margin: auto;
    color: var(--tertiary-color);
    
    .comic-name {
        font-size: 30px;
    }

    .comic-pages {
        margin : 10px 0px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .page img{
            max-width: 100%;
        }
    }
}