body {
    background-color: #2D0B45;
}

.header {

    background-color: #3F2D90;
    height: 80px;
    width: 100%;
    border-bottom: #D9DD19 4px solid;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
        font-weight: 700;
        font-size: 50px;
        -webkit-text-stroke: #2D0B45 3px;
    }

    .links {
        font-size: 20px;
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }   
        li {
            padding: 10px;
        }
    }

    .logo, .links, .profile {
        font-family: "Jersey 10", sans-serif;
        font-style: normal;
        color: #D9DD19;
    }

    .search {
        background-color: #3F2D90;
        color:#2D0B45;
        border: #2D0B45 4px solid;
        font-size: medium;
        font-weight: bold;
        padding: 2px;
    }

    .profile {
        font-size: 40px;
        background-color: #2D0B45;
        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
    }
}

