body {
    background-color: #2D0B45;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
}

.header {

    background-color: #3F2D90;
    height: 80px;
    width: 100%;
    border-bottom: #D9DD19 4px solid;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
        font-weight: 700;
        font-size: 50px;
        -webkit-text-stroke: #2D0B45 3px;
    }

    .links {
        font-size: 20px;
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }   
        li {
            padding: 10px;
        }
    }

    .logo, .links, .profile {
        color: #D9DD19;
    }

    .search {
        background-color: #3F2D90;
        color:#2D0B45;
        border: #2D0B45 4px solid;
        font-size: medium;
        font-weight: bold;
        padding: 2px;
    }

    .profile {
        font-size: 40px;
        background-color: #2D0B45;
        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
    }
}

.comic-panel{
    width: fit-content;
    margin: auto;
    color:#D9DD19;

    .comic-name {
        font-size: 30px;
    }

    .chapter-bar {
        border-color: #D9DD19;
        border-style: solid;
        border-width: 2px 0px;

        display: flex;
        justify-content: space-between;
    }

    .footer{
        color:black;
        background-color: #D9DD19;
        transform: perspective(8px) rotateX(2deg);

        display: flex;
        flex-direction: column;
        align-items: center;

        .links, .copyright{
            transform: perspective(8px) rotateX(-2deg);
        }
    }
}

